[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/babybear
[access "refs/for/refs/*"]
	read = group user/babybear
	push = group user/babybear
	label-Code-Review = -2..+2 group user/babybear
	label-Verified = -1..+1 group user/babybear
	rebase = group user/babybear
	removeReviewer = group user/babybear
	submit = group user/babybear
[access "refs/heads/*"]
	read = group user/babybear
	create = group user/babybear
	push = +force group user/babybear
	pushMerge = group user/babybear
[access "refs/tags/*"]
	push = +force group user/babybear
	pushTag = group user/babybear
	pushSignedTag = group user/babybear
